body {
	text-align: center;
	background-image: url('images/blue-pattern.gif');
	margin: 0;
	font-family: helvetica, arial;
}

p {
	margin: 10px 0 10px 0;
}

#content {
	width: 70%;
	margin: auto;
	background: white;
	box-shadow: 0 0 10px 0px #000;
	overflow: auto;
}

#footer {
	width: 100%;
	background: #1a5084;
	padding: 10px 0 10px 0;
	margin-top: 20px;
	color: white;
	font-size: .8em;
	clear: both;
}

#heading {
	width: 100%;
	background: #1a5084;
	position: relative;
	padding: 15px 0 15px 0;
	z-index: 1;
	color: white;
}

#small-heading-text {
	font-size: 1.2em;
}

#big-heading-text {
	font-size: 3em;
}

#top-image img {
	width: 100%;
	margin-top: -60px;
	margin-bottom: -60px;
}

#date-place {
	font-size: 1.5em;
	width: 100%;
	background: #1a5084;
	color: white;
	padding: 15px 0 15px 0;
	z-index: 1;
	position: relative;
}

.sub-heading {
	font-size: 1.1em;
	font-weight: 600;
	margin-top: 20px;

}

.body-text {
	font-size: .9em;
}


#content-left {
	text-align: left;
	width: 50%;
	padding: 2%;
	/*margin-right: 15%;*/
	float: left;
	/*min-height: 350px;*/
}


#content-right {
	padding: 2%;
	text-align: left;
	font-size: .9em;
	display: inline-block;
	max-width: 40%;
	float: right;
}

#anmalan {
	color: white;
	background-color: #1a5084;
	padding: 2%;
	/*max-width: 40%;*/
	font-size: 1em;
	/*margin: auto;*/
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
	box-shadow: 0 1px 2px 0px #000;
}


#som-taget {
	font-size: 0.7em;
	overflow: hidden;
	/*vertical-align: bottom;*/
	margin-top: 30px;
	margin-bottom: 20px;
}

#som-taget img {
	width: 80px;
	float: left;
	margin-right: 10px;
	/*margin-bottom: 20px;*/
}

#schyssta-villkor {
	margin-top: 30px;
	position: relative;
	left: 5px;
	clear: both;
}

#schyssta-villkor img {
	height: 50px;
}

#content-bottom {
	clear: both;
	text-align: left;
	padding: 0 15px 15px 15px;
}

.speaker {
	margin-top: 20px;
	margin-bottom: 40px;
}

.speaker-img {
	float: left;
	width: 100px;
	margin-right: 10px;
	max-height: 100px;
	overflow: hidden;
}

.speaker img {
	width: 100%;
}

.speaker-name {
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 5px;
}

.speaker-job {
	font-weight: 500;
	font-size: .9em;
	font-style: italic;
	margin-bottom: 10px;
}

.speaker-text {
	font-size: .8em;
	max-width: 60%;
}

.speaker-title {
	font-size: .8em;
	clear: both;
	padding-top: 15px;
}

#contactForm {
	font-size: .8em;
	margin-top: 10px;
	margin-bottom: 40px;
}

.label {
	width: 100px;
}

table {
	width: 100%;
}

tr {
	height: 30px;
}

input[type=text], textarea {
	border-color: #ddd;
	border-width: 1px;
	width: 200px;
}

input[type=submit] {
	padding: 8px; 
	font-size: 1em;
	border: 2px solid #1a5084;
	background-color: #1a5084;
	color: #fff;
	box-shadow: 0 1px 2px 0px #000;
}

#intro-mobile {
     display: none;
}

#info-mobile {
     display: none;
}


#anmalan-mobile {
     display: none;
}

#logos-mobile {
     display: none;
}

#som-taget-logo-mobile {
     display: none;
}

#som-taget-mobile {
     display: none;
}

#schyssta-villkor-mobile {
     display: none;
}

#schyssta-villkor-mobile img {
     display: none;
}




@media screen and (max-width: 45em) {



#content {
	width: 100%;
	/*margin: auto;
	background: white;*/
	box-shadow: 0;
	/*overflow: auto;*/
}

#footer {
/*	width: 100%;
	background: #1a5084;
	padding: 10px 0 10px 0;
	margin-top: 20px;
	color: white;
	font-size: .8em;
	clear: both;*/
	margin-top: 50px;
}

#heading {
	width: 100%;
	background: #1a5084;
	position: relative;
	padding: 15px 0 15px 0;
	z-index: 1;
	color: white;
}

#small-heading-text {
	font-size: 1em;
}

#big-heading-text {
	font-size: 1.5em;
}

#top-image img {
/*	width: 100%;
	margin-top: -60px;
	margin-bottom: -60px;*/
	margin-top: -10px;
	margin-bottom: -10px;
}

#date-place {
	font-size: 1em;
/*	width: 100%;
	background: #1a5084;
	color: white;
	padding: 15px 0 15px 0;
	z-index: 1;
	position: relative;*/
}

.sub-heading {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 20px;

}

.body-text {
	font-size: 1em;
}


#content-left {
	display: none;
/*	text-align: left;
	width: 50%;
	padding: 15px;
	margin-right: 100px;
	float: left;
	min-height: 300px;*/
}


#content-right {
	display: none;
	/*padding: 15px;
	text-align: left;*/
}


#intro-mobile {
	display: block;
	text-align: left;
	margin: 15px;
}

#info-mobile {
	display: block;
	text-align: left;
	margin: 20px 15px 20px 15px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}


#anmalan-mobile {
	display: block;
	color: white;
	background-color: #1a5084;
	padding: 2%;
	font-size: 1.2em;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 600;
	text-align: center;
	box-shadow: 0 1px 2px 0px #000;
}

#logos-mobile {
	display: block;
	border-top: solid 1px;
}

#som-taget-logo-mobile {
	display: block;
	margin: 10px;
}

#som-taget-mobile {
	display: block;
	margin: 10px;
}

#schyssta-villkor-mobile {
	display: block;
	margin: 20px;
}

#schyssta-villkor-mobile img {
	display: inline;
	width: 20%;
}

#som-taget {
	display: none;
/*	font-size: 0.7em;
	vertical-align: top;
	margin-top: 30px;
	float: left;*/
}

#som-taget img {
/*	width: 80px;
	float: left;
	margin-right: 10px;*/
}

#schyssta-villkor {
	display: none;
	/*margin-top: 30px;*/
}

#schyssta-villkor img {
/*	height: 40px;
	margin-left: 10px;*/
}

#content-bottom {
/*	clear: both;
	text-align: left;
	padding: 0 15px 15px 15px;*/
	padding: 0;
	margin: 15px;
	border-top: solid 1px #000;
}

.speaker {
/*	margin-top: 20px;
	margin-bottom: 50px;*/
}

.speaker-img {
/*	float: left;
	width: 100px;
	margin-right: 10px;
	max-height: 100px;
	overflow: hidden;*/
}

.speaker img {
/*	width: 100%;*/
}

.speaker-name {
/*	font-weight: 600;
	margin-bottom: 5px;*/
	/*font-size: .9em;*/
}

.speaker-text {
/*	font-size: .8em;*/
	max-width: 100%;
}

.speaker-title {
/*	font-size: .8em;
	clear: both;
	padding-top: 15px;*/
}

#contactForm {
/*	font-size: .8em;
	margin-top: 10px;*/
}

.label {
/*	width: 100px;*/
}

table {
	/*width: 40%;*/
	width: 100%;
}

tr {
/*	height: 30px;*/
}

input[type=text], textarea {
/*	border-color: #ddd;
	border-width: 1px;
	width: 200px;*/
	width: 90%;
}

input[type=submit] {
/*	padding: 8px; 
	font-size: 1em;
	border: 2px solid #1a5084;
	background-color: #1a5084;
	color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px*/
}

}